#mainDiv{
    width: 1000px;
    height: 1000px;
    border: 4px solid skyblue;
    background-color: aqua;
    padding-top: 10%;
    display: flex;

    justify-content: space-between;
    align-items: baseline;





}

.subDiv{
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    background-color: beige;
}