@import "tailwindcss";

:root {
  --color-primary: #1A1C22;         
  --color-primary-hover: #000000;

  --color-secondary: #FFD23F;       
  --color-secondary-hover: #F9C80E;

  --color-accent: #FF3F00;          

  --color-background: #F8F9FA;      
  --color-surface: #FFFFFF;         

  --color-text: #1A1C22;            
  --color-text-muted: #6C757D;      

  --color-success: #06D6A0;         
  --color-error: #EF476F;
}