@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4f4;
}

.navbar {
  position: sticky;
  top: 0;
  background: #222;
  color: #fff;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #ff9800;
}


.hero {
  text-align: center;
  padding: 100px 20px;
}

.btn {
  display: inline-block;
  background: #ff9800;
  color: #fff;
  padding: 10px 20px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background: #e68900;
}

.products {
  padding: 40px;
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.product-card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  transition: 0.3s;
}

.product-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

form {
  max-width: 400px;
  margin: auto;
}

form input,
form select,
form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
.card{
    height: 500px;
}
