.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.bg-pink{
    background-color: pink;
}
.bg-violet{
    background-color: violet;
}
.bg-greenyellow{
    background-color: greenyellow;
}
.font-large{
    font-size: large;
}