
h1 {
  width: 200px;
  border: 3px solid blue;
  margin-left: 0px;
  border-radius: 5px;
}
h1:hover {
  margin-left: 200px;
  transition: margin-left 6s;
  width: 400px;
  transition: width 6s;
}
h2 {
  width: 200px;
  height: 30px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}
#inner {
  width: 10px;
  height: 30px;
  background-color: rgb(37, 21, 21);
}

h2:hover {
  #inner {
    width: 100%;
    background-color: rgb(143, 206, 143);
    transition: width 6s ease-out, background-color 5s ease-in-out;
    
  }
}

h3{
  width: 300px;
  height: 50px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}

#inner2{
  height: 50px;
}


h3:hover{
  #inner2{
    animation: myAnimation 4s linear;

    
  }
}


@keyframes myAnimation {
  0%{
    width: 0%;
    background-color: brown;
  }

  50%{
    width: 50%;
    background-color: aqua;
  }
  
  100%{
    width: 100%;
    background-color: blueviolet;
  }
  
} 
  


#s1{
  border: 1px solid black ;
  font-size: medium;
  width: 100px;
  height: 50px;
 
  
}

s1:hover{
  transform: rotateZ(50deg);
  transition: transform  2s;
}

