#mapContainer {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

#indiaMap {
  width: 100%;
  display: block;
}

.marker {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
}
