#d1{
    width: 100px;
    height: 40px;
    border: 5px solid  blueviolet;
    font-size: medium;
    padding: 50px;
    margin: 30px;
    
}

#d2{
    width: 200px;
    height: 300px;
    border: 4px solid #000;
    font-size: larger;
    margin:  20px 40px 60px 30px;
    padding: 0 0 0 20px;
    box-shadow: 30px;

}