.map-container {
  position: relative;
  width: 670.875px;
  height: 816.412px;
  margin: 0 auto;
}

#indiaMap {
  width: 100%;
  height: 100%;
}

#marker {
  width: 35px;
  position: absolute;
  display: none;
  transform: translate(-50%, -100%);
  animation: bounce 1s infinite;
}

/* animated bounce */
@keyframes bounce {
  0% { transform: translate(-50%, -90%); }
  50% { transform: translate(-50%, -110%); }
  100% { transform: translate(-50%, -90%); }
}
